
@{
    ViewBag.Title = "Edit";
}

<br />
<p class="text-success">@ViewBag.Message</p>

<h2>Modificare echipa</h2>

@model Task_Management_Platform.Models.Team

<form method="post" action="/Teams/Edit/@Model.TeamId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Hidden("UserId")


    @Html.Hidden("TeamId")

    @Html.Label("Nume", "Nume Echipa")
    <br />
    @Html.Editor("Nume")
    @Html.ValidationMessageFor(model => model.Nume, null, new { @class = "text-danger " })
    <br />
    <br />
    @Html.Label("DataInscriere", "Data Inscrierii")
    <br />
    @Html.Editor("DataInscriere")
    <button class="btn btn-success" type="submit">Modifica echipa.</button>
</form>
