
@{
    ViewBag.Titlu = "New";
}

<br />
<p class="text-success">@ViewBag.Message</p>

<h2>Adaugare echipa</h2>
<br />

@model Task_Management_Platform.Models.Team

<div class="container body-content" style="margin-top:20px;">
    <form method="post" action="/Teams/New">
        @Html.Hidden("UserId")
        @Html.Label("Nume", "Nume echipa")
        <br />
        @Html.TextBox("Nume", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nume, null, new { @class = "text-danger " })
        <br />
        <br />
        <button class="btn btn-sm btn-success" type="submit">Adauga echipa</button>
    </form>
</div>