
@{
    ViewBag.Title = "Show";
}

<br />
<p class="text-success">@ViewBag.Message</p>

<a href="/Teams/Index" class="glyphicon glyphicon-chevron-left">Inapoi la echipe</a>
<br />

@model Task_Management_Platform.Models.Team
<h1 style="text-align:center">@Model.Nume</h1>

<div class="meniuEchipa">
    @if (ViewBag.esteMembru || ViewBag.esteOrganizator || ViewBag.esteAdmin)
    {

        <a class="btn btn btn-success pull-right" href="/Users/AfisareMembri/@Model.TeamId">Afisare membrii</a>
        <br />
        <br />
    }

    @if (ViewBag.esteOrganizator || ViewBag.esteAdmin)
    {



        <a class="btn btn btn-success pull-right" href="/Teams/AfisareMembri/@Model.TeamId">Adauga noi membri</a>
        <br />
        <br />
    }
    @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
        <a class="btn btn-danger pull-left" href="/Teams/Edit/@Model.TeamId">Modifica echipa</a>

        <form method="post" action="/Teams/Delete/@Model.TeamId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-danger pull-right" type="submit">Sterge echipa</button>
        </form>

        <br />
        <br />
    }
    <br />
    <br />
    <br />
    <br />
</div>
<!-- proiecte-->
<h2>
    Proiecte
    @if (ViewBag.esteMembru || ViewBag.esteOrganizator || ViewBag.esteAdmin)
    {
        <a class="btn btn-sm btn btn-success pull-left" style="float:right" href="/Projects/New/@Model.TeamId"> Adauga proiect</a>
    }
</h2>
@foreach (var proj in Model.Projects)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div>
                    <p><a href="/Projects/Show/@proj.ProjectId">@proj.Nume</a></p>
                    <small class="pull-right">@proj.DataInceput - @proj.Deadline</small>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
}

<!-- taskuri-->
<br />
<br />
<hr>
<h2>
    Taskuri
    @if (ViewBag.esteOrganizator || ViewBag.esteAdmin)
    {

        <a class="btn btn-sm btn btn-success pull-left" style="float:right" href="/Tasks/New/@Model.TeamId">Adauga task</a>
    }
</h2>
@foreach (var task in Model.Tasks)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div>
                    <p><a href="/Tasks/Show/@task.TaskId">@task.Title</a></p>
                    <p class="pull-left">@task.Status</p>
                    <small class="pull-right">@task.DataStart - @task.DataFin</small>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
}
<hr>

<div class="panel-heading" style="box-sizing:border-box;border-top:10px black">

    <div class="panel-body" style="background:aliceblue;line-height:10%">
        <p style="padding-top:2rem;padding-left:1rem">Creat de:@Model.User.UserName
        <p style="float:right;margin-top:-1rem;padding-right:1rem">
            Data Inscriere: @Model.DataInscriere
        </p>
        </p>
        <br />
        <br />
        <hr>


    </div>
</div>
<br />

