
@{
    ViewBag.Title = "Show";
}

<h1>@ViewBag.Message</h1>

<a href="/Teams/Index">Inapoi la echipe</a>
<br />

@model Task_Management_Platform.Models.Team

<div class="panel panel-default">
    <div class="panel-heading">@Model.Nume</div>

    <div class="panel-body">
        Data Inscriere: <p>@Model.DataInscriere</p>
        <br />
        <br />
        <hr>

        <a class="btn btn-success pull-left" href="/Teams/Edit/@Model.TeamId">Modifica echipa</a>

        <form method="post" action="/Teams/Delete/@Model.TeamId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-danger pull-right" type="submit">Sterge echipa</button>
        </form>
    </div>
</div>
<br />

<!-- proiecte-->
@foreach (var proj in Model.Projects)
{
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div>
                <p><a href="/Projects/Show/@proj.ProjectId">@proj.Nume</a></p>
                <br />

                <small class="pull-right">@proj.DataInceput - @proj.Deadline</small>
            </div>
            <div style="display: inline-block; float : left; margin-right: 15px">
                <a class="glyphicon glyphicon-pencil" href="/Projects/Edit/@proj.ProjectId"></a>
            </div>

            <div style="display: inline-block; float : left">
                <form method="post" action="/Projects/Delete/@proj.ProjectId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                    <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                </form>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>
}

<a class="btn btn-success pull-left" href="/Projects/New/@Model.TeamId">Adauga proiect</a>
<br />