
@{
    ViewBag.Titlu = "New";
}

<h1>@ViewBag.Message</h1>

<h2>Adaugare task</h2>

@model Task_Management_Platform.Models.Tasks
<form method="post" action="/Tasks/New">

    @Html.Label("Title", "Titlu Task")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Description", "Descriere Task")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    <br />
    <br />

    @Html.Label("DataStart", "Inceput task")
    <br />
    @Html.TextBox("DataStart", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.DataStart, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("DataFin", "Termen limita task")
    <br />
    @Html.TextBox("DataFin", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.DataFin, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.HiddenFor(m => m.TeamId)

    <button class="btn btn-sm btn-success" type="submit">Adauga task</button>

</form>