
@{
    ViewBag.Titlu = "New";
}

<br />
<p class="text-info">@ViewBag.Message</p>

<h2>Adaugare task</h2>

@model Task_Management_Platform.Models.Task
<form method="post" action="/Tasks/New/@ViewBag.TeamId">
    @Html.Label("Title", "Titlu Task")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Description", "Descriere Task")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    <br />
    <br />

    @Html.Label("DataStart", "Inceput task")
    <br />
    @Html.TextBox("DataStart", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.DataStart, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("DataFin", "Termen limita task")
    <br />
    @Html.TextBox("DataFin", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.DataFin, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Hidden("TeamId")
    <button class="btn btn-sm btn-success" type="submit">Adauga task</button>

</form>