
@{
    ViewBag.Title = "Edit";
}

<br />
<p class="text-success">@ViewBag.Message</p>

<h2>Editeaza proiect</h2>

@model Task_Management_Platform.Models.Project
<div class="container body-content" style="margin-top:20px;">
    <form method="post" action="/Projects/Edit/@Model.ProjectId">
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.Hidden("ProjectId")
        @Html.Hidden("TeamId")
        @Html.Hidden("UserId")
        @Html.Label("Nume", "Nume Proiect")
        <br />
        <div class="form-control2">

            @Html.Editor("Nume")
            @Html.ValidationMessageFor(model => model.Nume, null, new { @class = "text-danger " })
        </div>
        <br />
        <br />
        @Html.Label("Descriere")
        <br />
        <div class="form-control2">

            @Html.Editor("Descriere")
            @Html.ValidationMessageFor(model => model.Descriere, null, new { @class = "text-danger " })
        </div>
        <br />
        <br />
        @Html.Label("DataInceput", "Data Inceput")
        <br />
        <div class="form-control2">

            @Html.Editor("DataInceput")
            @Html.ValidationMessageFor(model => model.DataInceput, null, new { @class = "text-danger " })
        </div>
        <br />
        <br />
        @Html.Label("Deadline")
        <br />
        <div class="form-control2">

            @Html.Editor("Deadline")
            @Html.ValidationMessageFor(model => model.Deadline, null, new { @class = "text-danger " })
        </div>
        <br />
        <br />
        <button class="btn btn-success" type="submit">Modifica proiect.</button>
    </form>
</div>