@model Task_Management_Platform.Models.ApplicationUser

@{
    ViewBag.Title = "Detalii utilizator";
}

<br />
<p class="text-info">@ViewBag.Message</p>

<h1>@Model.UserName</h1>

<ul class="list-group" style="margin-top:30px;">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Email utilizator: <span class="label label-default">@Model.Email</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Rol utilizator: <span class="label label-default">@ViewBag.roleName</span>
</li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        @if (@Model.PhoneNumber != null)
        {
            @:Telefon utilizator:<span class="label label-default">@Model.PhoneNumber</span>
        }
    </li>
</ul>

@if ((string)Model.Id != ViewBag.utilizatorCurent)
{
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="btn btn-success" type="submit">Sterge utilizator</button>

        }
    </div>
}
